body{
	background: #474c57 !important;
	color: white !important;
}

.center{
	margin: 0 auto;
}
.central-button {
	width:10%;
}
.margin-top-5{
	margin-top:5%;
}
.text-input{
	width: 100%;
	background-color: transparent;
	color: white;
	border-bottom: 4px solid white;
	border-left: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.text-input{
	width: 100%;
	background-color: transparent;
	color: white;
	border-bottom: 3px solid white;
	border-left: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	outline: none;
	height: 40px;
	font-size: 25px;
}
::-webkit-input-placeholder { 
    color: #DADFE1;
}
.results{
	font-size: 30px;
	font-weight: bold;
}
.selection{
	color: #191919;
	width: 100%;
	font-size:25px;
	height: 40px;
}
.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #1c1b18;
	-webkit-box-shadow: 3px 4px 0px 0px #1c1b18;
	box-shadow: 3px 4px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:14px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}
.max-height-autoscroll{
	max-height: 200px;
	overflow-y: auto;
}
